* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f5f5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

/* start nav  */
.nav {
    width: 100%;
    background-color: #0B9586;
    padding: 5px 16px;

    .contant {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navImg {
            img {
                width: 157px;
                height: 54px;
                mix-blend-mode: multiply;

            }
        }

        .navContant {
            ul {
                display: flex;
                align-items: center;

                li {
                    margin-right: 50px;

                    a {
                        padding: 0 20px;
                        color: #ffffff;
                        font-size: 1.3rem;
                        font-weight: 100;
                        transition: all 0.4s ease-in-out;
                        border-bottom: 3px solid #0B9586;

                        &:hover {
                            background-color: #0000000F;
                            padding: 10px 25px;
                            border-radius: 5px;
                            border-bottom: 3px solid #0000002E;
                        }
                    }
                }

                li:first-child {
                    a {
                        background-color: #0000000F;
                        padding: 10px 25px;
                        border-radius: 5px;
                        border-bottom: 3px solid #0000002E;
                    }
                }
            }
        }

        .navLeft {
            padding: 15px 0;
            display: flex;
            align-items: end;
            flex-direction: column;

            h4 {
                color: #ffffff;
                font-size: 1.1rem;
                font-weight: 100;

            }

            p {
                line-height: .5;
                font-size: 1.3rem;
                font-weight: 700;
                color: #ffffff;
            }
        }

        .icon {
            padding: 10px;
            display: none;

            i {
                font-size: 2rem;
                cursor: pointer;
                color: #ffffff;
                transition: all 0.4s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* end nav  */

/* start header  */
.header {
    background-image: url(Solar-templete/assets/images/1.png);
    background-size: cover;
    background-repeat: no-repeat;

    .headerContant {
        width: 60%;
        padding: 8% 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .range {
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-bottom: 11%;

            input[type="range"] {
                width: 40%;
                margin: 0 10px;
                background: #ffffff;
                height: 4px;
                border-radius: 0px;
                outline: none;
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 0;
                height: 0;
                background: transparent;
                border: none;
                opacity: 0;
                cursor: pointer;
            }

            input[type="range"]::-moz-range-thumb {
                width: 0;
                height: 0;
                background: transparent;
                border: none;
                opacity: 0;
            }
        }

        h2 {
            font-size: 4.5rem;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 25px;
        }

        p {
            font-size: 1.5rem;
            color: #ffffff;
            line-height: 1.5;
            margin-bottom: 25px;
        }

        .buttons {
            button {
                padding: 15px 25px;
                border: none;
                border-radius: 40px;
                cursor: pointer;
                transition: all 0.6s ease;
                font-size: 1.1rem;

            }

            .btn1 {
                background-color: #0B9586;
                margin-right: 15px;
                color: #ffffff;

                &:hover {
                    background-color: transparent;
                    border: 1px solid #ffffff;
                }
            }

            .btn2 {
                background-color: #FFBB1C;
                color: black;

                &:hover {
                    background-color: #0B9586;
                    color: #ffffff;
                }
            }
        }
    }
}

/* end header  */

/*start section 1*/
.section1 {
    margin-top: 4%;

    .sectionInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .leftContant {
            width: 50%;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 2.9rem;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.18rem;
                line-height: 1.5;
                margin-bottom: 20px;
                color: rgba(44, 44, 44, 0.905);
            }

            ul {
                li {
                    font-size: 1.3rem;
                    line-height: 1.6;

                    span {
                        color: #84BD3A;
                        letter-spacing: .4rem;
                    }
                }
            }
        }

        .rightContant {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .aboveImg {
                width: 300px;
                height: 200px;
                border-radius: 10px;
                background-color: #FFBB1C;
                color: #2A3334;
                padding: 35px;
                font-family: 'Akazan';
                font-size: 1.2rem;
                font-weight: 400;
                position: absolute;
                bottom: 20px;
                left: 0;

                img {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 15px;
                }
            }
        }
    }

}

/* end section 1 */

/*start section 2*/
.section2 {
    margin-top: 5%;
    background-image: url(/assets/images/8116\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;

    .Contant {
        display: flex;
        flex-direction: column;
        padding: 10% 0;
        color: #ffffff;
        width: 58%;

        h2 {
            font-size: 3.1rem;
            font-weight: 400;
            margin-bottom: 25px;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.5;
            margin-bottom: 25px;
        }

        .buttons {
            button {
                padding: 15px 25px;
                border: none;
                border-radius: 40px;
                cursor: pointer;
                transition: all 0.6s ease;
                font-size: 1.1rem;

            }

            .btn1 {
                background-color: #FFBB1C;
                border: 1px solid #FFBB1C;
                color: black;

                &:hover {
                    background-color: transparent;
                    border-color: #ffffff;
                    color: #ffffff;
                }
            }
        }
    }

}

/* end section 2 */

/*start section 3*/
.section3 {
    margin-top: 5%;

    .info {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 4% auto;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.2em;
            text-align: center;
            color: #475467;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 90%;
        margin: 30px auto;
        gap: 20px;

        .card {
            background-color: white;
            width: 30%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
            }

            .cardInfo {
                padding: 20px;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                p {
                    color: #475467;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    font-size: 1.05rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a {
                    cursor: pointer;
                    color: #0B9586;
                    font-weight: 650;
                }
            }
        }
    }

}

/* end section 3 */

/*start section 4*/
.section4 {
    margin: 5% 0 0 0;
    background-image: url(/assets/images/8116\ 1\ \(1\).png);
    background-size: cover;
    padding: 10px;

    .info {
        text-align: center;
        border-radius: 10px;
        width: 70%;
        margin: 4% auto;
        background-color: rgba(0, 0, 0, 0.642);
        color: #ffffff;
        padding: 3%;

        h2 {
            font-size: 2.4rem;
            font-weight: 550;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 100;
            margin-bottom: 20px;
        }
    }
}

/* end section 4 */

/*start section 5*/
.section5 {
    background-color: #FFBB1C0D;
    padding: 5% 0 0 0;

    .info {
        display: flex;

        .leftContant {
            width: 35%;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            margin-right: 30px;

            .icon {
                margin-bottom: 10px;
            }

            p {
                padding: 10px 10px 50px 10px;
                color: #475467;
            }
        }

        .rightContant {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            .items {
                display: flex;
                flex-wrap: wrap;
                gap: 10px 20px;

                .item {
                    width: 45%;
                    padding: 20px;
                    background-color: transparent;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #0B9586;

                    .image {
                        background-color: #3CAB9026;
                        border-radius: 10px;
                        height: 100px;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                            height: 100px;
                            border-radius: 10px;

                            mix-blend-mode: luminosity;
                        }
                    }



                    h3 {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }

                    p {
                        margin-top: 15px;
                        font-size: .9rem;
                        line-height: 1.5;
                        color: #475467;
                        margin-bottom: 20px;

                        span {
                            text-decoration: underline
                        }
                    }

                    a {
                        cursor: pointer;
                        color: #0B9586;
                        font-weight: 650;
                    }
                }
            }
        }
    }
}

/* end section 5 */

/*start section 6*/
.section6 {
    margin-top: 2%;
    padding: 5% 0 0 0;

    .info {
        text-align: center;
        border-radius: 10px;
        width: 80%;
        margin: auto;

        h2 {
            font-size: 2.4rem;
            font-weight: 550;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 100;
            margin-bottom: 20px;
            color: #475467;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 90%;
        margin: 30px auto;
        gap: 20px;

        .card {
            width: 30%;
            border-radius: 10px;
        }
    }
}

/* end section 6 */

/*start section 7 */
.section7 {
    margin: 5% 0;

    .info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        .leftContant {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 30px 30px 0;
            width: 40%;

            i {
                color: #0B9586;
                font-size: 3.5rem;
            }

            h2 {
                font-size: 3.2rem;
                margin: 15px 0;
            }

            p {
                font-size: 1.4rem;
                color: #1C1C1C;
                line-height: 1.5;

            }
        }

        .rightContant {
            background-color: #3CAB900F;
            border-radius: 24px;
            width: 55%;
            padding: 30px;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;

                span {
                    color: #3CAB90;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20.16px;
                }

                i {
                    font-size: .5rem;
                    color: #D9D9D9;

                    &:first-child {
                        color: #6B6B6B;
                    }
                }

            }

            p {
                width: 90%;
                color: #101828;
                font-size: 24px;
                line-height: 1.5;
                font-weight: 400;
                line-height: 36px;
            }

            .bottom {
                margin-top: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;

                    .name {
                        color: #1C1C1C;
                        font-size: 16px;
                        margin-left: 10px;

                        span {
                            line-height: 2;
                        }
                    }
                }

                .right {
                    a {
                        border: 1px solid #1C1C1C;
                        border-radius: 50%;
                        padding: 10px;

                        i {
                            font-size: 1.1rem;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}

/* end section 7 */

/*start footer*/
.footer {
    background-color: #283646;
    padding: 70px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 30px 0;

        .left {
            img {
                width: 200px;
                height: auto;
                mix-blend-mode: luminosity;
                margin-bottom: 20px;
            }

            .info {
                padding: 5px 0;

                span {
                    font-size: 1.2rem;
                    color: #ffffff;
                    margin-right: 20px;
                    letter-spacing: .5px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: left;

            span {
                font-size: 1.2rem;
                color: #ffffff;
                margin-right: 20px;
                letter-spacing: .5px;
            }

            .email {
                position: relative;
                margin-top: 10px;

                input {
                    width: 350px;
                    padding: 14px 23px;
                    border: 1px solid #B3BDC7;
                    border-radius: 109px;
                    color: #B3BDC7;
                    background-color: #FFFFFF17;
                    outline: none;

                    &::placeholder {
                        color: #B3BDC7;
                    }
                }

                a {
                    padding: 11px 21px;
                    border-radius: 109px;
                    background-color: #FFBB1C;
                    color: #ffffff;
                    font-size: 1.2rem;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    position: absolute;
                    right: .5px;
                    bottom: .5px;
                }
            }
        }
    }

    hr {
        border: 1px solid #92989F;
        border-radius: 5px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 0 0;

        p {
            font-size: 1.2rem;
            color: #92989F;
            letter-spacing: .5px;

            span {
                margin-right: 20px;
            }
        }

        span {
            font-size: 1.2rem;
            color: #92989F;
            letter-spacing: .5px;
        }
    }
}

/*end footer*/

@media (max-width: 1120px) {
    .nav {
        .contant {
            .navLeft {
                display: none;
            }
        }
    }

    .header {
        .headerContant {
            width: 80%;

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .section1 {
        .sectionInfo {
            display: flex;
            flex-wrap: wrap;

            .leftContant {
                width: 100%;
            }

            .rightContant {
                width: 100%;
            }
        }
    }
}

@media (max-width: 945px) {
    .nav {
        .contant {
            .navContant {
                display: none;
            }

            .icon {
                display: block;
            }
        }
    }

    .header {
        .headerContant {
            width: 100%;

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .section2 {
        .Contant {
            width: 90%;
        }
    }

    .section3 {
        .cards {
            .card {
                width: 100%;
            }
        }
    }

    .section4 {
        .info {
            width: 100%;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .section5 {
        .info {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            .leftContant {
                width: 100%;
            }

            .rightContant {
                width: 100%;

                .items {
                    .item {
                        width: 90%;
                    }
                }
            }
        }
    }

    .section6 {
        .cards {
            .card {
                width: 100%;
            }
        }
    }

    .section7 {
        .info {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .leftContant {
                width: 95%;
                margin: auto;
            }

            .rightContant {
                width: 100%;
            }
        }
    }

    .footer {
        padding: 30px;

        .top {
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;

            .left,
            .right {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .left img {
                width: 150px;
                margin-bottom: 10px;
            }

            .right {
                .email {
                    input {
                        width: 90%;
                        padding: 12px 15px;
                    }

                    a {
                        padding: 8.5px 11.5px;
                        display: block;
                        right: 18px;
                        bottom: -9px;
                        margin: 10px auto;
                        text-align: center;
                    }
                }
            }
        }

        hr {
            margin: 20px 0;
        }

        .bottom {
            flex-direction: column;
            align-items: center;
            text-align: center;

            p,
            span {
                font-size: 1rem;
                margin: 5px 0;
                /* مسافة بين النصوص */
            }
        }
    }
}
